{% extends "base.html" %}
{% block explain_contents %}
<p id="demo"> 변화 </p>
<script language= "JavaScript">
    function chk() {
        index = myForm.myColor.selectedIndex;
        myForm.txt1.value = index;
        myForm.txt2.value = myForm.myColor.options[index].value;
        myForm.txt3.value = myForm.myColor.options[index].text;
        document.body.style.background = myForm.myColor.options[index].value;
        //칼라를 만들때는, #FF0000 (RGB : FF  00  F0) 


        //id유일. name은 서버쪽에서 참조할 때 사용함. 중복 가능함.
    }
</script>
<form name="myForm">     
    
    선택된 Index : <input type="text" name="txt1" size="10"><br>
    선택된 value : <input type="text" name="txt2" size="10"><br>
    선택된 Text : <input type="text" name="txt3" size="10"><br>
    배경색 선택하기
    <select name="myColor" size="1" onclick="chk()">
        <option value="red">빨강색 </option>
            <option value="blue">파랑색</option>
            <option value="green">초록색</option>
            <option value="white" selected>>흰색</option>
            <option value="yellow">노란색</option>
            <option value="pink">핑크색</option>
    </select><br>
    아이템추가 :    <input type="text" name="txt4" size="10">
                        <input type="button" value="아이템추가"
                        onclick="Append()">
</form>
<script>
    function Append(){
        cnt = myForm.myColor.length;
            str = myForm.txt4.value;
            myOption = new Option(str); //"new" 동적 메모리 할당 ' C++ Java에서'
            myForm.myColor.options[cnt] = myOption;
    }
    //JSON 송수신하거나 파일에 로딩시 문자열로 읽어들임
    var text = '{"employees":[' +
    '{"firstname":"강","lastname":"감찬"},'+
    '{"firstname":"이","lastname":"순신"},'+
    '{"firstname":"김","lastname":"구"}]}';

    obj = JSON.parse(text); //문자열을 파싱해서 JSON객체 변환
    //JSON을 배열처리하듯이 사용
    document.getElementById("demo").innerHTML = 
    obj.employees[1].firstName + " " + obj.employees[1].lastname;

</script>
{% endblock explain_contents %}