<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<HTML>
<HEAD>
<TITLE>marquee </TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF">
<marquee bgcolor="#ffff00"><front color="#ff0000">안녕하세요!</front></marquee>
<marquee>안녕하세요!</marquee>
<marquee width="300" height="90" bgcolor="#ff0000">안녕하세요!</marquee>
<marquee direction="right">스크롤 방향을 바꿔줌</marquee>
<marquee direction="up" width="200" height="50">스크롤이 위로 흐름</marquee>
<marquee direction="down" width="200" height="50">스크롤이 밑으로 흐름</marquee>
<marquee behavior="slide" direction="right" loop="3">세번 스크롤 된후 화면 끝에서 멈춤</marquee>
<marquee loop="3">세번 스크롤 된다음 사라짐</marquee>
<marquee direction-"right" behavior="alternate">좌우로 왔다 갔다...</marquee>
<marquee scrollamount="3">마퀴의 스크롤 간격지정 숫자가 높을수록 빠르다</marquee>
<marquee scrolldelay="200">스크롤 시간 간격</marquee>
</BODY>
</HTML>